<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test">
    <test name="Parabank Test">
        <classes>
            <class name="runner.RegisterRunner"/>
            <class name="runner.LoginRunner"/>
        </classes>
    </test>
</suite>